In [1]:
import investpy

# Bug 1: historical data descending order

In [2]:
from_date = '01/01/1980'
to_date = '04/11/2020'

In [3]:
df = investpy.get_stock_historical_data('AAPL', country='United States', from_date=from_date, to_date=to_date, order='descending')

In [4]:
df

             Open   High    Low  Close     Volume Currency
Date
1998-12-31   0.36   0.37   0.35   0.37  271577856      USD
1998-12-30   0.36   0.37   0.36   0.36  237361840      USD
1998-12-29   0.37   0.37   0.36   0.36  387352384      USD
1998-12-28   0.35   0.37   0.35   0.36  725312704      USD
1998-12-24   0.36   0.36   0.35   0.35  199998592      USD
...           ...    ...    ...    ...        ...      ...
2018-01-09  43.64  43.77  43.35  43.58   86335984      USD
2018-01-08  43.59  43.90  43.48  43.59   82271064      USD
2018-01-05  43.36  43.84  43.26  43.75   94640072      USD
2018-01-04  43.13  43.37  43.02  43.26   89738384      USD
2018-01-03  43.13  43.64  42.99  43.06  118071600      USD

[10062 rows x 6 columns]

In [5]:
# Date of first row
df.iloc[0].name, to_date

(Timestamp('1998-12-31 00:00:00'), '04/11/2020')

In [6]:
# Date of last row
df.iloc[-1].name, from_date

(Timestamp('2018-01-03 00:00:00'), '01/01/1980')

# Bug 2: historical data JSON

In [7]:
data = investpy.get_stock_historical_data('AAPL', country='United States', from_date=from_date, to_date=to_date, as_json=True)

In [8]:
import json
data = json.loads(data)

In [9]:
# data['historical'] only contains the first batch of 19 years
len(data['historical']), len(df)

(4564, 10062)

In [11]:
# Last date is incorrect (missing more recent data)
data['historical'][-1]['date'], from_date

('31/12/1998', '01/01/1980')